<Form @method='get' class="row sm-12 mb-2" @handleSubmit={{ this.searchPlaces }}>
	<Input  
		@value={{ this.query }}
		class="row sm-12 input input-md pl-1 pr-1 mb-075"
		placeholder="Search Travel Places">
	</Input>
	<button type="submit" class="row sm-6 md-4 horizontal-center vertical-center button button-md button-primary">Search</button>
</Form>