<div class="row nav-link horizontal-end {{ if @width @width "" }} {{ if @noLeftMargin "" "ml-1" }}">
	<LinkTo 
		@route={{ @route }} 
		class="small" 
		...attributes>
			{{ yield }}
	</LinkTo>
</div>